<!DOCTYPE html>
<html lang="en">

<head>
    <title>Dashboard</title>

    <%- head %>

</head>

<body>

    <!-- Sidebar -->
    <%- sidebar %>

    <!-- Top Header -->
    <%- topHeader %>

    <div class="content-container">
        <div class="breadcrumb">
            <div class="">
                <h4 class="breadcrumb-title">Dashboard</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="dashboard-card">
                    <div class="">
                        <h5 class="dashboard-card-title">20</h5>
                        <p class="dashboard-card-sub-title">Companies</p>
                    </div>
                    <div>
                        <img class="dashboard-card-icon" src="/assets/images/icon/bar-graph.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="dashboard-card">
                    <div class="">
                        <h5 class="dashboard-card-title">100</h5>
                        <p class="dashboard-card-sub-title">Sellers</p>
                    </div>
                    <div class="">
                        <img class="dashboard-card-icon" src="/assets/images/icon/bar-graph.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="dashboard-card">
                    <div class="">
                        <h5 class="dashboard-card-title">600</h5>
                        <p class="dashboard-card-sub-title">Products</p>
                    </div>
                    <div class="">
                        <img class="dashboard-card-icon" src="/assets/images/icon/bar-graph.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="dashboard-card">
                    <div class="">
                        <h5 class="dashboard-card-title">1000</h5>
                        <p class="dashboard-card-sub-title">Orders</p>
                    </div>
                    <div class="">
                        <img class="dashboard-card-icon" src="/assets/images/icon/bar-graph.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- scripts -->
    <%- scripts %>

</body>

</html>