<div class="accordion mt-5" id="accordionExtra">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingExtara">
            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseExtra" aria-expanded="true"
                aria-controls="collapseExtra">
                Extra Information
            </button>
        </h2>

        <div id="collapseExtra" class="accordion-collapse collapse"
            aria-labelledby="headingExtara" data-bs-parent="#accordionExtra">
            <div class="accordion-body">

                <div class="form-title mb-4">Table Columns</div>

                <div class="row mb-5">
                    <div class="col-md-2">
                        <div class="mb-3">
                            <label class="form-label">id</label>
                            <div>
                                <input class="form-check-input" type="checkbox"
                                    id="checkboxNoLabel" value="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="mb-3">
                            <label class="form-label">id</label>
                            <div>
                                <input class="form-check-input" type="checkbox"
                                    id="checkboxNoLabel" value="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="mb-3">
                            <label class="form-label">id</label>
                            <div>
                                <input class="form-check-input" type="checkbox"
                                    id="checkboxNoLabel" value="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="mb-3">
                            <label class="form-label">id</label>
                            <div>
                                <input class="form-check-input" type="checkbox"
                                    id="checkboxNoLabel" value="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="mb-3">
                            <label class="form-label">id</label>
                            <div>
                                <input class="form-check-input" type="checkbox"
                                    id="checkboxNoLabel" value="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="mb-3">
                            <label class="form-label">id</label>
                            <div>
                                <input class="form-check-input" type="checkbox"
                                    id="checkboxNoLabel" value="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-between mb-4">
                    <div class="form-title mb-2">Column Relation Validation</div>

                    <button class="btn-icon btn-primary text-white">
                        <i class="fa-solid fa-plus"></i>
                    </button>
                </div>

                <div class="d-flex gap-4">
                    <div class="mb-3">
                        <label class="form-label">Column</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Table</label>
                        <input type="text" class="form-control">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Type</label>
                        <select class="form-select">
                            <option value="1">POST</option>
                            <option value="2">GET</option>
                            <option value="3">UPDATE</option>
                            <option value="4">DELETE</option>
                        </select>
                    </div>
                    <div class="d-flex align-items-center justify-content-end mt-3">
                        <button class="btn-icon btn-danger text-white">
                            <i class="fa-solid fa-trash-can"></i>
                        </button>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>